<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Kafe Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<h1>Change Password</h1>

<form action="/changepassword/submit" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
    </div>
    <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <div>
        <button type="submit">Change Password</button>
    </div>
</form>

<!-- Display success or error messages here -->
<!--<div th:if="${passwordChangeSuccess}" class="success-message">-->
<!--    Password changed successfully!-->
<!--</div>-->
<!--<div th:if="${passwordChangeError}" class="error-message">-->
<!--    <span th:text="${passwordChangeError}"></span>-->
</body>
</html>