<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Yakiniku Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        /* Add your custom CSS here */
        .container {
            background-color: #d7d8da; /* Replace with your desired background color */
            border-radius: 10px;
            padding: 20px;
            margin-top: 80px;
        }
    </style>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3" >
    <h1 class="display-5">Change Password</h1>
    <form th:action="@{/change_password}" method="POST">
        <div>
            <label for="oldPassword">Old Password:</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit">Change Password</button>
    </form>
</div>

</body>
</html>