<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Kafe Web Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<div>
  <img  class="responsive-img " src="image/yaki.jpeg"  alt="yakie">
</div>

<div class="container" >
  <h1 class="display-6" style="text-align: center;">Welcome to Kafe</h1>


  <p><span th:text="${greeting}"></span></p>

  <div sec:authorize="isAnonymous()" style="text-align: center;" >

  </div>
  <div sec:authorize="isAuthenticated()" style="text-align: center;">
    <a id="start-order" th:href="@{/home.html}" class="btn btn-dark">เริ่มสั่งอาหารได้เลย</a>
  </div>
</div>
<a class="btn btn-light" th:href="@{/change_password}">change password</a>

</body>
</html>
