<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yakiniku Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        /* Add your custom CSS here */
        .container {
            background-color: #d7d8da; /* Replace with your desired background color */
            border-radius: 10px;
            padding: 20px;
            margin-top: 80px;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-5">Sign Up</h1>


    <form action="#" th:action="@{/signup}" method="POST">


        <div id="success-msg" class="alert alert-success"
             th:if="${signupSuccess}">
            Successfully signed up! Please <a th:href="@{/login}">login</a>.
        </div>
        <div id="error-msg" class="alert alert-danger"
             th:if="${signupError}">
            <span th:text="${signupError}"></span>
        </div>


        <div class="mb-3">
            <label for="inputName">Name</label>
            <input id="inputName" type="input" class="form-control"
                   name="name" required>
        </div>
        <div class="mb-3">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="input" class="form-control"
                   name="username" required>
        </div>
        <div class="mb-3">
            <label for="inputEmail">E-mail</label>
            <input id="inputEmail" type="input" class="form-control"
                   name="email" required>
        </div>
        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" class="form-control"
                   name="password" required>
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>


</body>
</html>